<web-app>
    <servlet>
        <servlet-class>UserAuthenticate</servlet-class>
        <servlet-name>UserAuth</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAuth</servlet-name>
        <url-pattern>/UserAuth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-class>InsertCredentials</servlet-class>
        <servlet-name>InsCred</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsCred</servlet-name>
        <url-pattern>/InsCred</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-class>InsertDetails</servlet-class>
        <servlet-name>InsDet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsDet</servlet-name>
        <url-pattern>/InsDet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-class>RenderQuiz</servlet-class>
        <servlet-name>RenQuiz</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>RenQuiz</servlet-name>
        <url-pattern>/RenQuiz</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-class>DisplayScore</servlet-class>
        <servlet-name>DispScore</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispScore</servlet-name>
        <url-pattern>/DispScore</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-class>ProceedToQuiz</servlet-class>
        <servlet-name>ProcQuiz</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcQuiz</servlet-name>
        <url-pattern>/ProcQuiz</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-class>AdminDisplay</servlet-class>
        <servlet-name>AdminDisp</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDisp</servlet-name>
        <url-pattern>/AdminDisp</url-pattern>
    </servlet-mapping>
    
</web-app>